.div187 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-black);
}
.p075009-r00-icon1 {
  position: absolute;
  top: calc(50% + 80px);
  right: 0px;
  width: 800px;
  height: 72px;
}
.p075007-r00-icon2 {
  position: absolute;
  top: calc(50% - 100px);
  right: 0px;
  width: 800px;
  height: 180px;
}
.p021504-r00-icon {
  position: absolute;
  width: 100%;
  top: 48px;
  right: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  height: 92px;
}
.div188 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
}
.div189 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: #82404b;
}
.icon105 {
  position: absolute;
  height: calc(100% - 27.4px);
  width: calc(100% - 52.9px);
  top: 13.68px;
  right: 26.43px;
  bottom: 13.72px;
  left: 26.47px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p021514-r00 {
  position: absolute;
  top: 59px;
  left: 16px;
  width: 184px;
  height: 70px;
}
.icon106 {
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% + 9px);
  width: 130px;
  height: 36px;
}
.div190 {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--color-black);
  width: 370px;
  height: 74px;
}
.icon107 {
  position: absolute;
  height: calc(100% - 44.2px);
  top: 22.7px;
  bottom: 21.5px;
  left: calc(50% - 56.76px);
  max-height: 100%;
  width: 113.3px;
}
.p021600-r00 {
  position: absolute;
  top: calc(50% - 96px);
  left: 0px;
  width: 370px;
  height: 74px;
}
.icon108 {
  position: absolute;
  bottom: 1.6px;
  left: 4.97px;
  width: 21.6px;
  height: 22.4px;
}
.p071013-r001 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 101px);
  width: 51px;
  height: 68px;
}
.p071012-r00-icon1 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 254px);
  width: 51px;
  height: 68px;
}
.p071099-r003 {
  position: absolute;
  top: calc(50% - 26px);
  left: 44px;
  width: 51px;
  height: 68px;
}
.icon109 {
  position: absolute;
  height: calc(100% - 4.6px);
  top: 2.28px;
  bottom: 2.32px;
  left: calc(50% - 12.5px);
  max-height: 100%;
  width: 21.1px;
}
.p071001-r001 {
  position: absolute;
  top: calc(50% - 26px);
  left: 95px;
  width: 51px;
  height: 68px;
}
.icon110 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 9.4px);
  top: 1px;
  right: 5.4px;
  bottom: 1px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p071000-r002 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 203px);
  width: 51px;
  height: 68px;
}
.p071000-r003 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 152px);
  width: 51px;
  height: 68px;
}
.icon112 {
  position: absolute;
  bottom: 1.65px;
  left: 5px;
  width: 18.8px;
  height: 21.1px;
}
.p071111-r001 {
  position: absolute;
  top: calc(50% - 26px);
  right: 86px;
  width: 51px;
  height: 68px;
}
.p071099-r004 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 110px);
  width: 51px;
  height: 68px;
}
.icon113 {
  position: absolute;
  height: calc(100% - 4.6px);
  width: calc(100% - 8.6px);
  top: 2.28px;
  right: 4.6px;
  bottom: 2.32px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p071107-r00 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 161px);
  width: 51px;
  height: 68px;
}
.p071100-r00 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 212px);
  width: 51px;
  height: 68px;
}
.div200 {
  position: absolute;
  top: 4px;
  left: 9px;
}
.div202 {
  position: absolute;
  height: 100%;
  width: calc(100% - 8px);
  top: 0px;
  right: 4px;
  bottom: 0px;
  left: 4px;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #3c3b3c, #0f0e0f);
}
.icon115 {
  position: absolute;
  height: calc(100% - 42.8px);
  top: 20.74px;
  bottom: 22.06px;
  left: calc(50% - 39.76px);
  max-height: 100%;
  width: 79.5px;
}
.p075001-r001 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 8px;
  left: calc(50% + 160px);
  width: 240px;
  height: 80px;
}
.div186 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
}
.div185 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 480px;
  max-width: 800px;
  max-height: 480px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro);
  font-family: var(--font-a-otf-ud-shin-go-pro);
}
