.icon167 {
  position: absolute;
  top: 18.5px;
  left: 0px;
  width: 2805px;
  height: 592px;
}
.div274 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-black);
}
.p075007-r00-icon5 {
  position: absolute;
  top: calc(50% - 100px);
  right: 0px;
  width: 800px;
  height: 180px;
}
.p021503-r00-icon2 {
  position: absolute;
  width: 100%;
  top: 48px;
  right: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  height: 92px;
}
.p021520-r00-icon2 {
  position: absolute;
  top: 59px;
  left: calc(50% - 25px);
  width: 70px;
  height: 70px;
}
.p021531-r00-icon2 {
  position: absolute;
  top: 56px;
  right: 7px;
  width: 339px;
  height: 76px;
}
.div275 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
}
.div276 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--color-dimgray-200);
}
.icon168 {
  position: absolute;
  height: calc(100% - 27.5px);
  width: calc(100% - 28.4px);
  top: 13.74px;
  right: 14.21px;
  bottom: 13.76px;
  left: 14.19px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p021511-r00 {
  position: absolute;
  top: 59px;
  left: 16px;
  width: 184px;
  height: 70px;
}
.div277 {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--color-black);
  width: 370px;
  height: 74px;
}
.icon169 {
  position: absolute;
  height: calc(100% - 44px);
  top: 22.7px;
  bottom: 21.3px;
  left: calc(50% - 105.99px);
  max-height: 100%;
  width: 212px;
}
.p021601-r00 {
  position: absolute;
  top: calc(50% - 96px);
  left: 0px;
  width: 370px;
  height: 74px;
}
.icon170 {
  position: absolute;
  bottom: 1.6px;
  left: 4.97px;
  width: 21.6px;
  height: 22.4px;
}
.p071013-r003 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 101px);
  width: 51px;
  height: 68px;
}
.p071099-r0013 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 254px);
  width: 51px;
  height: 68px;
}
.p071099-r0014 {
  position: absolute;
  top: calc(50% - 26px);
  left: 44px;
  width: 51px;
  height: 68px;
}
.p071099-r0015 {
  position: absolute;
  top: calc(50% - 26px);
  left: 95px;
  width: 51px;
  height: 68px;
}
.icon171 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 9.1px);
  top: 1px;
  right: 5.1px;
  bottom: 1px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p071003-r00 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 203px);
  width: 51px;
  height: 68px;
}
.icon172 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 9.4px);
  top: 1px;
  right: 5.4px;
  bottom: 1px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p071000-r005 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 152px);
  width: 51px;
  height: 68px;
}
.icon173 {
  position: absolute;
  bottom: 1.65px;
  left: 5px;
  width: 18.8px;
  height: 21.1px;
}
.p071211-r001 {
  position: absolute;
  top: calc(50% - 26px);
  right: 86px;
  width: 51px;
  height: 68px;
}
.p071099-r0016 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 110px);
  width: 51px;
  height: 68px;
}
.p071099-r0017 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 161px);
  width: 51px;
  height: 68px;
}
.icon174 {
  position: absolute;
  height: calc(100% - 3.3px);
  width: calc(100% - 9.7px);
  top: 2.28px;
  right: 4.7px;
  bottom: 1.02px;
  left: 5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p071205-r001 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 212px);
  width: 51px;
  height: 68px;
}
.div289 {
  position: absolute;
  height: 100%;
  width: calc(100% - 8px);
  top: 0px;
  right: 4px;
  bottom: 0px;
  left: 4px;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #577c34, #1c2d15);
}
.icon175 {
  position: absolute;
  height: calc(100% - 20.6px);
  top: 10.29px;
  bottom: 10.31px;
  left: calc(50% - 41.94px);
  max-height: 100%;
  width: 83.9px;
}
.p000005-r003 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 8px;
  left: calc(50% - 80px);
  width: 160px;
  height: 80px;
}
.div290 {
  position: absolute;
  top: 4px;
  left: 9px;
}
.div291 {
  position: absolute;
  top: 84px;
  left: calc(50% + 63px);
  font-size: var(--font-size-13xl);
  line-height: 44px;
  color: var(--color-black);
}
.div293 {
  position: absolute;
  height: 100%;
  width: calc(100% - 8px);
  top: 0px;
  right: 4px;
  bottom: 0px;
  left: 4px;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #3c3b3c, #0f0e0f);
}
.icon176 {
  position: absolute;
  height: calc(100% - 42.8px);
  top: 20.74px;
  bottom: 22.06px;
  left: calc(50% - 39.76px);
  max-height: 100%;
  width: 79.5px;
}
.p075001-r003 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 8px;
  left: calc(50% + 240px);
  width: 160px;
  height: 80px;
}
.p025400-r00-icon2 {
  position: absolute;
  width: 100%;
  top: calc(50% + 80px);
  right: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  height: 72px;
}
.icon177 {
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% + 9px);
  width: 130px;
  height: 36px;
}
.div273 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
}
.div272 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 480px;
  max-width: 800px;
  max-height: 480px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro);
  font-family: var(--font-a-otf-ud-shin-go-pro);
}
